<p id="notice"><%= notice %></p>

<p>
  <strong>message Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>message Body:</strong>
  <%= @message.body %>
</p>

<%= render 'comments/form' %>

<% @all_comments.each do |comment| %>
  <div>
    t:: <%= comment.title %>
    <br>
    b:: <%= comment.body %>
    <br />
    <%= link_to 'answer', new_comment_path(parent_id: comment.id) %>
    has children?: <%= comment.has_children? %>
    children size: <%= comment.children.size %>
    <hr />
  </div>
<% end %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
