<p id="notice"><%= notice %></p>

<p>
  <strong>message Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>message Body:</strong>
  <%= @message.body %>
</p>

<%= render 'comments/form' %>

<% @all_comments.each do |comment| %>
  <div>
    t:: <%= comment.title %>
    <br>
    b:: <%= comment.body %>
    <hr />
  </div>
<% end %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
